.darkThema {
    background: var(--cor-primaria);
    color: #d4dfe4;
    transition: background-color 0.10s, color 0.10s;

}

.cabecalho__menu__link__dark {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-secundaria);
    text-decoration: none;
}